
.section-basket-hero {
    width: 90%;
    height: 60vh;
    display: flex;
    color: #ffffff;
    position: relative;
    margin: 0 7% 0 0;
    padding: 4.5rem 4rem;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    background-color: #025696;
}
.section-basket-hero-back-link img {
    right: 2rem;
    position: relative;
    transform: scaleX(-1);
}
.section-basket-hero-products-count {
    top: 25%;
    left: 1%;
    position: relative;
}
.section-basket-single-item-quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 0.13rem 0;
    border: 1px solid #b2bac6;
}
.section-basket-details {
    display: flex;
    margin: 0 6.5%;
    padding: 6rem 2rem;
    flex-direction: column;
}
.section-basket-items-left {
    width: 22%;
    top: 0.7rem;
    position: relative;
}
.section-basket-items-right {
    width: 75%;
}
.section-basket-items {
    display: flex;
    flex-direction: row;
}
.section-basket-details h4 {
    display: flex;
    font-weight: 700;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}
.section-basket-details h4 img {
    height: 2px;
    width: 45%;
    margin-left: 1rem;
}
.section-basket-single-item-img{
    width: 20%;
}
.section-basket-single-item {
    padding: 2rem;
    align-items: flex-start;
    justify-content: space-between;
}
.section-basket-single-item-details {
    width: 75%;
}
.heading-light {
    line-height: 1.5;
    color: #5a5f69;
}
.section-basket-item-details {
    margin: 2px 0.5rem;
}
.section-basket-heading, .section-basket-item-detail {
    width: 12%;
    display: flex;
    flex-direction: row;
}
.section-basket-heading:first-child, .section-basket-item-detail:first-child {
    width: 25%;
}
.section-basket-heading:nth-child(3), .section-basket-item-detail:nth-child(3) {
    width: 17%;
}
.section-basket-item-detail {
    margin-top: 1rem;
}
.section-basket-single-item-desc {
    align-items: flex-start;
}
.section-basket-item-detail:last-child {
    font-size: 1.1rem;
}
.section-basket-place-order {
    width: 20%;
    display: flex;
    padding: 4rem 0;
    flex-direction: column;
    align-self: flex-end;
}
.section-basket-place-order-btn {
    border: 0;
    color: #fff;
    min-width: 40%;
    font-weight: bold;
    margin-top: 2rem;
    border-radius: 20px;
    padding: 0.8rem 1rem;
    background-color: #025696;
    text-transform: uppercase;
}
.section-basket-place-order p {
    margin: 5px 0;
}
.section-basket-address-container {
    margin: 1.5rem 0;
}
.section-basket-address-inputs-container {
    width: 100%;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
}
.section-basket-address-select-container p, .section-basket-delivery-select-container p {
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: 5px;
}
.section-basket-address-select {
    width: 100%;
    color: #333;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #b2bac6;
}
.selected--flag--option  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-basket-address-select-container {
    width: 49%;
}
.country-label {
    padding-top: 3px;
    font-weight: 600;
    padding-left: 0 !important;
}
.flag-options {
    width: 100%;
    margin-left: -0.5rem;
}
.country-flag {
    display: flex;
    flex-direction: row;
    width: 90% !important;
    height: 100% !important;
}
.section-basket-order-details {
    width: 80%;
}
.section-basket-order-details h2 {
    margin-top: 1rem;
}
.section-basket-delivery-content {
    width: 100%;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
}
.section-basket-delivery-select-container {
    width: 100%;
}
.section-basket-delivery-mode-container {
    display: flex;
    margin: 0.5rem 0;
    flex-direction: row;
    align-items: center;
}
.section-basket-delivery-mode-container p {
    font-size: 0.8rem;
    font-weight: 600;
}
.section-basket-delivery-mode-container img {
    width: 2.5rem;
    margin: 0 1rem;
}
.remember-card-text {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 0.5rem;
}
a.section-basket-hero-back-link>span {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.section-basket-heading:first-child, .section-basket-item-detail:first-child {
    line-height: 1.2;
}

.heading-light {
    color: #b5b9c5;
}
.selected--flag--option {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-basket-details h3, .section-basket-details h2 {
    text-transform: uppercase;
}

.heading-light, p.section-basket-item-details, .space-between>.column-start>p, .section-basket-place-order-btn, .section-basket-address-select-container p, .section-basket-delivery-select-container p, .section-basket-delivery-mode-container p, .flag-select .selected--flag--option, .remember-card-text {
    font-family: 'Montserrat', sans-serif;
}

.section-basket-hero-back-link span, .section-basket-hero-products-count h1, .section-basket-hero-products-count p, .section-basket-details h3, .section-basket-details h2, .section-basket-item-details, .section-basket-single-item-price, .space-between>.column-start>p, .section-basket-address-select-container p, .section-basket-delivery-select-container p, .section-basket-delivery-mode-container p {
    font-weight: 700;
}
.heading-light {
    font-weight: 600;
}


.section-basket-hero-back-link span {
    font-size: 0.7rem;
}
.section-basket-hero-products-count h1 {
    font-size: 70px;
}
.section-basket-details h2 {
    font-size: 50px;
}
.section-basket-heading:first-child, .section-basket-item-detail:first-child {
    font-size: 40px;
}
.section-basket-hero-products-count p, .section-basket-heading:nth-child(3)>button, .section-basket-item-detail:nth-child(3)>button {
    font-size: 30px;
}
.section-basket-single-item-price, .section-basket-details h4 {
    font-size: 28px;
}
.section-basket-heading:nth-child(3), .section-basket-item-detail:nth-child(3) {
    font-size: 25px;
}
.heading-light, .section-basket-item-details, .space-between>.column-start>p, .section-basket-place-order-btn, .section-custom-input label, .section-basket-address-select-container p, .section-basket-delivery-select-container p, .section-basket-delivery-mode-container p, .flag-select .selected--flag--option, .remember-card-text, a.section-basket-hero-back-link>span, .country-label {
    font-size: 13px;
}
.section-basket-details h3 {
    font-size: 1.4rem;
}




/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .section-basket-hero-products-count h1 {
        font-size: 55px;
    }
    .section-basket-details h2 {
        font-size: 40px;
    }
    .section-basket-heading:first-child, .section-basket-item-detail:first-child {
        font-size: 30px;
    }
    .section-basket-hero-products-count p, .section-basket-heading:nth-child(3)>button, .section-basket-item-detail:nth-child(3)>button {
        font-size: 23px;
    }
    .section-basket-single-item-price, .section-basket-details h4 {
        font-size: 20px;
    }
    .section-basket-heading:nth-child(3), .section-basket-item-detail:nth-child(3) {
        font-size: 18px;
    }
    .heading-light, .section-basket-item-details, .space-between>.column-start>p, .section-basket-place-order-btn, .section-custom-input label, .section-basket-address-select-container p, .section-basket-delivery-select-container p, .section-basket-delivery-mode-container p, .flag-select .selected--flag--option, .remember-card-text, a.section-basket-hero-back-link>span, .section-basket-address-select, .country-label {
        font-size: 10px;
    }
}





/*tablets, ipads (landscape)*/
@media (min-width: 769px) and (max-width: 1024px) {
    .section-basket-hero-products-count h1 {
        font-size: 55px;
    }
    .section-basket-details h2 {
        font-size: 40px;
    }
    .section-basket-heading:first-child, .section-basket-item-detail:first-child {
        font-size: 24px;
    }
    .section-basket-hero-products-count p, .section-basket-heading:nth-child(3)>button, .section-basket-item-detail:nth-child(3)>button {
        font-size: 23px;
    }
    .section-basket-single-item-price, .section-basket-details h4 {
        font-size: 20px;
    }
    .section-basket-heading:nth-child(3), .section-basket-item-detail:nth-child(3) {
        font-size: 18px;
    }
    .heading-light, .section-basket-item-details, .space-between>.column-start>p, .section-basket-place-order-btn, .section-custom-input label, .section-basket-address-select-container p, .section-basket-delivery-select-container p, .section-basket-delivery-mode-container p, .flag-select .selected--flag--option, .remember-card-text, a.section-basket-hero-back-link>span, .section-basket-address-select, .country-label {
        font-size: 10px;
    }
}



/*tablets, ipads*/
@media (min-width: 426px) and (max-width: 768px) {
    .section-basket-hero-products-count h1 {
        font-size: 55px;
    }
    .section-basket-details h2 {
        font-size: 40px;
    }
    .section-basket-heading:first-child, .section-basket-item-detail:first-child {
        font-size: 24px;
    }
    .section-basket-hero-products-count p, .section-basket-heading:nth-child(3)>button, .section-basket-item-detail:nth-child(3)>button {
        font-size: 23px;
    }
    .section-basket-single-item-price, .section-basket-details h4 {
        font-size: 20px;
    }
    .section-basket-heading:nth-child(3), .section-basket-item-detail:nth-child(3) {
        font-size: 18px;
    }
    .heading-light, .section-basket-item-details, .space-between>.column-start>p, .section-basket-place-order-btn, .section-custom-input label, .section-basket-address-select-container p, .section-basket-delivery-select-container p, .section-basket-delivery-mode-container p, .flag-select .selected--flag--option, .remember-card-text, a.section-basket-hero-back-link>span, .section-basket-address-select, .country-label {
        font-size: 10px;
    }
}
