.section-contact-hero {
    width: 100%;
}
.section-contact-hero-top {
    width: 90%;
    display: flex;
    margin: 0 7% 0 0;
    flex-direction: row;
}
.section-contact-hero-category-container {
    width: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-contact-hero-category {
    border: 0;
    display: flex;
    padding: 12vw 0;
    align-items: center;
    flex-direction: column;
    background-color: #025696;
    transition: background-color 0.3s ease-in;
}
.section-contact-hero-category:hover {
    background-color: transparent;
}
.section-contact-hero-top h1 {
    width: 25%;
    border: 0;
    display: flex;
    color: #ffffff;
    padding: 12vw 0;
    align-items: center;
    flex-direction: column;
    background-color: #025696;
}
.section-contact-hero-category p {
    color: #ffffff;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 0.75rem;
}
.section-contact-hero-category img {
    width: 2rem;
    height: 0.11rem;
}
.section-contact-hero-category h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 2.2rem;
}
.section-contact-hero-bottom {
    width: 100%;
    padding: 10% 0;
}
.section-contact-hero-bottom h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.section-contact-hero-bottom-features, .section-contact-details-container {
    width: 60%;
    flex-direction: row;
    align-items: baseline;
}
.section-contact-hero-bottom-feature {
    width: 33%;
    padding: 0 3rem;
    text-align: center;
}
.section-contact-hero-bottom-feature-line {
    width: 20%;
    height: 1px;
    margin-top: 1rem;
}
.section-contact-hero-bottom-feature h4, .section-contact-detail h4 {
    padding: 1rem 0;
    font-weight: 700;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.section-contact-banner-img {
    width: 86%;
    z-index: -5;
}
.section-contact-details {
    width: 75%;
    top: -12rem;
    color: #ffffff;
    padding: 4rem 0;
    position: relative;
    margin-bottom: -4rem;
    background-color: #025696;
}
.section-contact-details h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.section-contact-details-container {
    width: 60%;
}
.section-contact-detail p {
    font-weight: 600;
    font-size: 0.7rem;
}
