footer {
    background-color: #1a1c21;
}
.footer-wrapper {
    margin: 0 auto;
    max-width: 1300px;
}
.footer-wrapper>.row-top {
    color: #fff;
    display: flex;
    padding: 50px 0;
}
.footer-wrapper>.row-top>p:first-child {
    margin: 0;
    width: 33%;
    line-height: 1;
    font-size: 22px;
    color: #4b4d55;
    text-transform: uppercase;
}
.footer-wrapper>.row-top>p:first-child>span {
    color: #8a8f9c;
}
.footer-wrapper-notified-input {
    margin: 0;
    width: 47%;
    line-height: 1;
    background: 0;
    border: 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}
.footer-wrapper-notified-input::placeholder {
    color: #ffffff;
}
.footer-wrapper-notified-btn {
    border: none;
    color: #fff;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #025696;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.footer-wrapper-notified-btn > img {
    margin-left: 90px;
}
.footer-border {
    left: 0;
    width: 100%;
    position: absolute;
    border-top: 1px solid #2b2d34;
}
.footer-wrapper>.row-middle {
    display: flex;
    padding: 100px 0;
    font-family: 'Montserrat', sans-serif;
}
.footer-wrapper>.row-middle>.col-menu {
    width: 70%;
    display: flex;
}
.row-middle>.col-media {
    width: 30%;
}
.social_media_links {
    margin-top: 20px;
}
.footer-wrapper>.row-middle>.col-menu>.menu-row {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.footer-wrapper>.row-middle>.col-menu>.menu-row>h4 {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.footer-wrapper>.row-middle>.col-menu>.menu-row>a {
    color: #4b4d55;
    font-weight: 600;
    padding-top: 5px;
}
.footer-wrapper>.row-bottom {
    color: #4b4d55;
    font-weight: 600;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.media_icon_container {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.7rem;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 1.2rem;
}
.error-placeholder::placeholder {
    color: #ab1b1b;
}
.col-menu>img {
    height: 3px;
    margin-top: 7px;
    margin-right: 25px;
}
input.footer-wrapper-notified-input {
    font-family: 'DINNextLTProMediumCond';
}




/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .footer-wrapper>.row-middle>.col-menu>.menu-row, .footer-wrapper>.row-bottom, .footer-wrapper>.row-middle>.col-menu>.menu-row>h4 {
        font-size: 10px;
    }
    .footer-wrapper>.row-top>p:first-child {
        font-size: 17px;
    }
    button.footer-wrapper-notified-btn {
        font-size: 10px;
        padding: 13px 25px;
    }
}




/*tablets, ipads (landscape)*/
@media (min-width: 769px) and (max-width: 1024px) {
    .footer-wrapper>.row-middle>.col-menu>.menu-row, .footer-wrapper>.row-bottom, .footer-wrapper>.row-middle>.col-menu>.menu-row>h4 {
        font-size: 10px;
    }
    .footer-wrapper>.row-top>p:first-child {
        font-size: 17px;
    }
    button.footer-wrapper-notified-btn {
        height: 39px;
        font-size: 10px;
        padding: 13px 25px;
    }
    .footer-wrapper {
        max-width: 94vw;
    }
    .footer-wrapper-notified-btn>img {
        margin-left: 55px;
    }
    .footer-wrapper>.row-top {
        padding: 30px 0;
    }
    .footer-wrapper>.row-middle {
        padding: 40px 0;
    }
}