* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    cursor: default;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

img.section-background-blue-right {
    right: 0px;
    z-index: -5;
    width: 440px;
    margin-top: 12vw;
    position: absolute;
}
img.section-background-fittfind {
    right: -5vw;
    z-index: -6;
    margin-top: -22vw;
    position: absolute;
}


.section-impossible {
    display: flex;
    margin-top: 6vw;
    text-align: center;
    flex-direction: column;
}
.section-impossible>span {
    font-size: 60px;
    text-transform: uppercase;
}
.section-impossible>img:nth-child(2) {
    left: 38vw;
    width: 25vw;
    margin-top: 20px;
    position: absolute;
}
.section-impossible>img:nth-child(3) {
    width: 80vw;
    z-index: -6;
    height: 230px;
    margin: -95px auto 0 auto;
}
.section-impossible>img:nth-child(4) {
    width: 80vw;
    z-index: -1;
    opacity: 0.03;
    height: 230px;
    margin: -230px auto 0 auto;
}
a, button {
    cursor: pointer;
    border: 0;
    background-image: none;
    background-color: transparent;
}

button:focus, input:focus {
    outline: none;
}
.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.column-end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.uppercase {
    text-transform: uppercase;
}
p, h1, h2, h3, h4, h5{
    margin: 0;
}
