* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    cursor: default;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

img.section-background-blue-right {
    z-index: -5;
    right: -5vw;
    width: 440px;
    margin-top: 12vw;
    position: absolute;
}
img.section-background-fittfind {
    right: 0;
    z-index: -6;
    margin-top: -22vw;
    position: absolute;
}