* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Din-Next-LT-Pro-Black';
    src: url("../fonts/DINCond-Black.otf") format("opentype");
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    cursor: default;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

img.section-background-blue-right {
    right: 0;
    z-index: -5;
    width: 26.5vw;
    position: absolute;
}
img.section-background-blue-right.women, img.section-background-blue-right.Men {
    position: fixed;
    min-height: 150vw;
    margin-top: -10vw;
}
img.section-background-fittfind {
    left: 22vw;
    z-index: -6;
    max-width: 65vw;
    margin-top: -30vw;
    position: absolute;
}

.section-impossible {
    display: flex;
    margin-top: 6vw;
    text-align: center;
    flex-direction: column;
}
.section-impossible>span {
    font-size: 60px;
    text-transform: uppercase;
}
.section-impossible>img:nth-child(2) {
    left: 38vw;
    width: 25vw;
    margin-top: 20px;
    position: absolute;
}
.section-impossible>img:nth-child(3) {
    width: 80vw;
    z-index: -6;
    height: 230px;
    margin: -95px auto 0 auto;
}
.section-impossible>img:nth-child(4) {
    width: 80vw;
    z-index: -1;
    opacity: 0.03;
    height: 230px;
    margin: -230px auto 0 auto;
}
a, button {
    cursor: pointer;
    border: 0;
    background-image: none;
    background-color: transparent;
}

button:focus, input:focus {
    outline: none;
}
.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.row-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.column-end {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.align-center {
    display: flex;
    align-items: center;
}
.uppercase {
    text-transform: uppercase;
}
p, h1, h2, h3, h4, h5{
    margin: 0;
}

.select-container {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.select-container p {
    font-size: 0.65rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.select-container p img {
    width: 2rem;
    height: 0.1rem;
    margin-right: 5px;
}
.react-select-container {
    width: 58%;
}
.select-container>span {
    font-weight: bold;
}
.react-select__control {
    border: 0 !important;
}
.react-select__placeholder {
    font-size: 0.65rem;
    font-weight: bold;
}
.react-select__indicator-separator {
    display: none;
}
.react-select__indicator {
    color: #1a1c21 !important;
}
.react-select__value-container {
    padding: 0 !important;
}
.react-select__value-container:focus, .react-select__indicator:focus, .react-select__control:focus, .react-select__control, .react-select__control--is-focused, .react-select__control--menu-is-open {
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
.section-gym-owners {
    color: #fff;
    width: 89.6%;
    margin: 5.7% auto;
    text-align: center;
    padding: 150px 300px;
    background-size: 100% 100%;
    background-image: url('../images/STUDIO-OWNER-back.png');
}
.section-gym-owners>h2 {
    font-size: 2vw;
    text-transform: uppercase;
}
.section-gym-owners>p {
    font-size: 22px;
    padding: 20px 0;
}
.section-gym-owners-btn {
    bottom: 10vw;
    border: none;
    color: #fff;
    text-align: left;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #025696;
    text-transform: uppercase;
}
.section-gym-owners-btn img {
    margin-left: 90px;
}
