.section-hero-gym-img>img {
    width: 93.5vw;
    max-width: 95vw;
}
.section-hero-gym-text {
    color: #fff;
    margin-left: 4vw;
    margin-top: -12vw;
    padding-bottom: 2vw;
    text-transform: uppercase;
}
.section-hero-gym-main-banner {
    display: flex;
    flex-direction: row;
}
.section-hero-gym-text>h2 {
    font-size: 2vw;
    line-height: 1;
}
.section-hero-gym-main-banner>h1 {
    width: 30%;
    font-size: 4vw;
}
.section-hero-gym-main-banner-heading {
    width: 35%;
    display: flex;
    align-items: center;
    padding: 0 30px 0 10px;
    background-color: #055595;
    justify-content: space-between;
}
.section-hero-gym-kickstarter-ref {
    width: 30%;
    text-align: right;
    align-self: center;
}
.section-hero-gym-main-banner-input {
    border: 0;
    color: #fff;
    background: 0;
    font-size: 4vw;
    max-width: 75%;
    font-weight: bold;
}
.section-hero-gym-main-banner-input::placeholder {
    color: #ffffff;
}
.section-hero-gym-main-banner-heading-light {
    opacity: 0.4;
    font-weight: 800;
    text-align: right;
    font-size: 0.6rem;
    line-height: 0.7rem;
}
.section-gym-features {
    padding-top: 10vw;
    margin-left: 5.7%;
}
.section-gym-features-desc-first {
    margin-left: 2vw;
}
.section-gym-features-desc-first, .section-gym-features-list {
    display: flex;
    justify-content: space-between;
}
.section-gym-features-desc {
    width: 20%;
}
.section-gym-features-desc>h3 {
    font-size: 2vw;
    line-height: 1;
    text-transform: uppercase;
}
.section-gym-features-desc>p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    padding: 40px 0;
}
.section-gym-features-desc>button {
    bottom: 10vw;
    border: none;
    color: #fff;
    text-align: left;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #025696;
    text-transform: uppercase;
}
.section-gym-features-desc>button>img {
    margin-left: 90px;
}
.section-gym-features-list {
    width: 70%;
}
.section-gym-feature {
    width: 33.33%;
    text-align: center;
}
.section-gym-feature-desc>div>h4 {
    font-size: 22px;
    text-transform: uppercase;
}
.section-gym-feature-desc {
    width: 65%;
    text-align: left;
    margin: 0 auto;
}
.section-gym-feature-desc>div>img {
    width: 110px;
    max-height: 2px;
    margin-left: -50px;
}
.section-gym-feature-desc>div {
    padding: 10px 0;
    margin-top: 50px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.section-gym-features-list>.section-gym-feature:first-child, .section-gym-features-list>.section-gym-feature:nth-child(3) {
    margin-top: 80px;
}
.section-gym-motivation-first {
    display: flex;
    margin-top: 10vw;
}
.section-gym-motivation-banner-desc {
    margin-top: 10vw;
}
.section-gym-motivation-banner-desc>h3 {
    font-size: 2vw;
    line-height: 1;
    margin-left: -50px;
    text-transform: uppercase;
}
.section-gym-motivation-banner-desc>p {
    font-size: 16px;
    padding: 40px 0;
    line-height: 1.6;
    font-weight: 600;
    margin-left: 3vw;
}
.motivation-quotes>p:first-child {
    font-size: 22px;
}
.section-gym-motivation-banner-slider {
    width: 70vw;
    padding: 50px;
    color: #fff;
    font-size: 2vw;
    text-align: center;
    position: relative;
    align-self: flex-end;
    margin: -30vw auto 15vw 9vw;
    background-color: #055595;
}
.motivation-quotes>p:nth-child(2) {
    color: #3d87bf;
    font-size: 16px;
    font-weight: 600;
    padding-top: 40px;
}
.motivation-quotes {
    padding: 20px 250px 20px 250px;
}
.motivation-quotes-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.motivation-quotes-buttons>button:first-child {
    border: 1px solid #0470b6;
}
.motivation-quotes-buttons>button:first-child, .motivation-quotes-buttons>button:nth-child(3) {
    padding: 30px;
    border-radius: 50%;
    background-color: transparent;
}
.motivation-quotes-buttons>button:nth-child(3) {
    border: 1px solid #ffffff;
}
.section-gym-supporters {
    margin-right: 5.7%;
}
.section-gym-supporters>h3 {
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
}
.section-gym-supporters-list {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
}
.section-gym-supporters-list>img {
    width: 130px;
    height: 100%;
}
.section-gym-motivation-banner-desc>h3>img {
    height: 14px;
    margin-right: 20px;
    padding-bottom: 11px;
}





/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .section-hero-gym-img>img {
        width: 100%;
    }
    .section-gym-features-desc-first {
        margin-left: unset;
    }
    .section-gym-features-list {
        width: 75%;
    }
    .section-gym-motivation-first>img {
        width: 55vw;
    }
    .section-gym-motivation-banner-desc>h3>img {
        height: 13.5px;
        padding-bottom: 11px;
    }
    .motivation-quotes {
        padding: 20px 150px 20px 150px;
    }
    .section-gym-motivation-banner-slider {
        width: 65vw;
        margin: -38vw auto 15vw 24vw;
    }

}























