header {
    display: flex;
    margin-left: 5%;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.section-header-left, nav.section-nav-left>ul, .section-header {
    display: flex;
}
.section-header {
    width: 100%;
}
.section-logo img {
    width: 60%;
}
.section-header-left, .section-header-right {
    padding-top: 35px;
    padding-bottom: 35px;
}
.section-header-left {
    width: 75%;
    background-color: #fff;
    justify-content: space-between;
}
.active-nav-link {
    width: 5rem;
    top: 3.3rem;
    position: absolute;
}
.section-header-right {
    width: 25%;
    display: flex;
    color: #40434b;
    align-items: center;
    background-color: #1a1c21;
}
span.section-nav-right-currency>span:nth-child(2), .section-header-right>a>span>span:nth-child(2) {
    color: #727785;
}
span.section-nav-right-currency>span:nth-child(2) {
    margin-left: -25px;
}
.section-header-right>a, .section-header-right>span {
    width: 37%;
    text-align: center;
}
button.section-nav-right-menu {
    width: 26%;
    padding: 0;
}
nav.section-nav-left {
    width: 55%;
    align-self: center;
}
.section-logo {
    width: 25%;
    align-self: center;
    text-align: center;
}
nav.section-nav-left>ul {
    margin: 0;
    list-style: none;
}
nav.section-nav-left>ul>li {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
a.section-nav-right-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}
a.section-nav-right-cart>img {
    margin-right: 7px;
}
a.section-nav-right-cart>span, span.section-nav-right-currency {
    display: flex;
    flex-direction: column;
}
/* a.section-nav-right-cart>img {
    height: max-content;
} */



@media (min-width: 1025px) and (max-width: 1440px) {
    .section-header-right {
        width: 25vw;
    }
    header {
        font-size: 10px;
        margin-bottom: -1px;
    }
    .section-header-left, .section-header-right {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-logo img {
        width: 60%;
    }
    a.section-nav-right-cart>span>span, span.section-nav-right-currency>span {
        line-height: 1;
    }
    a.section-nav-right-cart>img {
        height: 15px;
    }
    button.section-nav-right-menu>img {
        width: 15px;
        height: 10px;
    }
    .active-nav-link {
        top: 2.7rem;
    }

}




/*tablets, ipads (landscape)*/
@media (min-width: 769px) and (max-width: 1024px) {
    .section-header-right {
        width: 25vw;
    }
    header {
        font-size: 10px;
        margin-bottom: -1px;
    }
    .section-header-left, .section-header-right {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-logo img {
        width: 60%;
    }
    a.section-nav-right-cart>span>span, span.section-nav-right-currency>span {
        line-height: 1;
    }
    a.section-nav-right-cart>img {
        height: 15px;
    }
    button.section-nav-right-menu>img {
        width: 15px;
        height: 10px;
    }
    .active-nav-link {
        top: 2.5rem;
        width: 3rem;
    }
}




/*tablets, ipads*/
@media (min-width: 426px) and (max-width: 768px) {
    .section-header-right {
        width: 30vw;
    }
    header {
        font-size: 10px;
        margin-bottom: -1px;
    }
    .section-header-left, .section-header-right {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-logo img {
        width: 75%;
    }
    a.section-nav-right-cart>span>span, span.section-nav-right-currency>span {
        line-height: 1;
    }
    a.section-nav-right-cart>img {
        width: 17px;
        height: 15px;
    }
    button.section-nav-right-menu>img {
        width: 15px;
        height: 10px;
    }
    .active-nav-link {
    width: 4rem;
    top: 2.45rem;
    }
}
