header {
    display: flex;
    margin-left: 5%;
}
.section-header-left, nav.section-nav-left>ul, .section-header {
    display: flex;
}
.section-header {
    width: 100%;
}
.section-header-left, .section-header-right {
    font-weight: 900;
    padding-top: 35px;
    padding-bottom: 35px;
}
.section-header-left {
    width: 75%;
    background-color: #fff;
    justify-content: space-between;
}
.section-header-right {
    width: 25%;
    display: flex;
    color: #40434b;
    background-color: #1a1c21;
}
span.section-nav-right-currency>span:nth-child(2), .section-header-right>a>span>span:nth-child(2) {
    color: #727785;
}
span.section-nav-right-currency>span:nth-child(2) {
    margin-left: -25px;
}
.section-header-right>a, .section-header-right>span {
    width: 37%;
    text-align: center;
}
button.section-nav-right-menu {
    width: 26%;
    padding: 0;
}
nav.section-nav-left {
    width: 50%;
    align-self: center;
}
.section-logo {
    width: 25%;
    align-self: center;
    text-align: center;
}
nav.section-nav-left>ul {
    margin: 0;
    list-style: none;
}
nav.section-nav-left>ul>li {
    width: 25%;
}
a.section-nav-right-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}
a.section-nav-right-cart>img {
    margin-right: 7px;
}
a.section-nav-right-cart>span, span.section-nav-right-currency {
    display: flex;
    flex-direction: column;
}
a.section-nav-right-cart>img {
    height: max-content;
}



@media (min-width: 1025px) and (max-width: 1440px) {
    .section-header-right {
        width: 25vw;
    }

}