.section-ico h2, .section-ico h1 {
    display: flex;
    font-size: 55px;
    align-items: center;
    text-transform: uppercase;
}
.section-ico-platform-container {
    background-color: #2b2d34;
    color: #ffffff;
}
.section-ico-platform-left {
    width: 34%;
}
.section-ico-platform-left-btn {
    color: #ffffff;
}
.section-ico-platform-right {
   width: 60%;
}
.section-ico-platform-right-slider {
    width: 100%;
    min-height: 500px;
}
.section-ico-platform-right:hover .section-ico-platform-right-btn {
    opacity: 1;
}
.section-ico-platform-right:hover .section-ico-platform-right-btn:disabled {
    opacity: 0.3!important;
}
.section-ico-platform-right-btn:disabled {
    opacity: 0 !important;
}
.section-ico-platform-right-btn {
    opacity: 0;
    color: #ffffff;
    z-index: 2;
    padding: 1rem;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    transition: opacity 0.3s ease-in;
}
.ico_slider_indicator {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #ffffffb8;
    transition: width 0.3s ease-in, border-radius 0.3s ease-in, background-color 0.3s ease-in;
}
.active_ico_slider_indicator {
    width: 15px;
    border-radius: 3rem;
    background-color: #ffffff;
}
.section-ico-platform-right-slider-container {
    width: 100%;
}
.section-ico-platform-right-slider-img {
    position: absolute;
    height: 500px;
}
.section-ico-app-left {
    width: 500px;
    height: 700px;
    color: #ffffff;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/app-store-imag.jpg");
}
.section-ico-app-left a {
    top: 70%;
    left: 15%;
    width: 50%;
    position: relative;
    text-transform: uppercase;
}
.section-ico-app-right {
    width: 30%;
}
.section-ico-btn {
    color: #ffffff;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
    border-radius: 25px;
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    background-color: #025696;
    font-family: 'Montserrat', sans-serif;
}
.section-ico-btn img {
    margin-right: 0.6rem;
}
