.section-left-bar {
    width: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
.section-left-bar-text {
    left: 34px;
    top: 14.6vw;
    font-size: 16px;
    color: #b2bac6;
    background: none;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(270deg);
    text-transform: uppercase;
}
.section-left-bar-btn {
    left: 34px;
    border: none;
    display: flex;
    bottom: 100px;
    padding: 0 3px;
    position: absolute;
    background-color: unset;
    flex-direction: column-reverse;
}
.section-left-bar-btn>span {
    font-size: 16px;
    background: none;
    margin-left: -1px;
    transform-origin: 0 0;
    transform: rotate(270deg);
    text-transform: uppercase;
}
.section-left-bar-btn>img {
    width: 15px;
}
.section-shipping-hero-main .section-left-bar-btn {
    margin-bottom: -20vw;
}




/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .section-left-bar-text {
        top: 19.5vw;
    }
    .section-left-bar {
        width: 7vw;
    }
    
}



















