.section-loading-background {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -100;
    height: 100vh;
    overflow: hidden;
    max-height: 100vh;
    position: absolute;
    background-color: #2b2d34;
}
.section-loading-fifth-portion {
    width: 25vw;
    position: relative;
    background-color: #025696;
    z-index: -3;
}
.loading {
    top: 100%;
    height: 0;
    animation: full_screen 1s both;
}
.loaded {
    top: 0;
    height: 100vh;
}
@keyframes full_screen {
    from { height: 0; top: 100%}
    to {height: 100vh; top: 0}
}
.section-loading-major-percentage {
    top: -82%;
    width: 100vw;
    height: 100vh;
    margin: auto;
    font-size: 85rem;
    color: #ffffff0a;
    text-align: center;
    position: absolute;
}
.section-loading-main-content {
    display: flex;
    color: #ffffff;
    flex-direction: row;
    height: 100vh;
}
.section-loading-minor-heading {
    font-size: 5rem;
}
.section-loading-right-slogan {
    height: 100vh;
    flex-direction: column;
}
.section-loading-logo-container {
    align-self: center;
    position: relative;
    left: 10%;
}
.section-loading-logo {
    width: 40%;
}
.section-loading-top-minor-heading-line {
    width: 80%;
    height: 4px;
    background-color: #ffffff;
}
.section-loading-top-minor-heading-container {
    left: 7rem;
    display: flex;
    position: relative;
    flex-direction: column;
}
.section-loading-top-minor-heading-container .section-loading-minor-heading {
    left: 5%;
    bottom: 1rem;
    height: 4.5rem;
    overflow: hidden;
    position: relative;
    align-self: flex-end;
}
.section-loading-minor-headings {
    align-self: flex-end;
}
.section-loading-left-slogan {
    width: 5vw;
}
