.section-new-gym-container {
    padding: 3rem;
}
.section-new-gym-basic-info, .section-new-gym-amenities {
    width: 50%;
    margin-bottom: 3rem;
}
.section-new-gym-amenities-options {
    width: 100%;
    flex-wrap: wrap;
}
