.section-products-categories {
    padding-top: 12vw;
    background-size: 53.1% 100%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-image: url(../images/prod-cat-back.jpg);
}
.section-products-categories>div {
    display: flex;
    background-size: 75% 50%;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/fittfind.png);
}
.section-products-categories>div>div {
    width: 50%;
}
.section-products-women {
    margin-left: 4%;
}
.section-products-women-banner, .section-products-men-banner {
    display: flex;
}
button.shop-women-btn>a, button.shop-men-btn>a {
    width: 330px;
    color: #fff;
    display: flex;
    height: 100px;
    font-size: 60px;
    align-items: center;
    text-transform: uppercase;
    background-color: #055595;
    justify-content: space-between;
}
button.shop-women-btn>a {
    padding: 40px 30px 40px 10px;
}
button.shop-men-btn>a {
    padding: 40px 10px 30px 40px;
}
button.shop-women-btn>a>img, button.shop-men-btn>a>img {
    width: 120px;
    height: 160px;
}
button.shop-women-btn>a>span, button.shop-men-btn>a>span {
    align-self: center;
}
span.shop-women-ver, span.shop-men-ver {
    width: 170px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(270deg);
    font-family: 'Montserrat', sans-serif;
}
span.shop-women-ver {
    top: 5vw;
    left: -6vw;
    position: relative;
}
span.shop-men-ver {
    top: 5vw;
    right: -3vw;
    position: relative;
}
button.shop-women-btn {
    z-index: 2;
    left: -12vw;
    height: 100px;
    position: relative;
}
button.shop-men-btn {
    z-index: 2;
    height: 100px;
    position: relative;
}
span.shop-women-ver>img, span.shop-men-ver>img {
    width: 50px;
    height: 4px;
    margin-left: 10px;
    padding-bottom: 2px;
}
.section-products-women-categories, .section-products-men-categories {
    width: 17vw;
    display: flex;
}
.section-products-women-categories>img, .section-products-men-categories>img {
    width: 35%;
    height: 15px;
    margin-right: 15px;
    padding-top: 12px;
}
.section-products-women-categories>div, .section-products-men-categories>div {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.section-products-women-categories>div>h3, .section-products-men-categories>div>h3 {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-products-women-categories>div>a, .section-products-men-categories>div>a {
    font-weight: 500;
}
.section-products-men-categories {
    margin-top: 120px;
    margin-left: 19.45vw;
}
.section-products-women-categories {
    margin-left: 125px;
    margin-bottom: 150px;
}
.section-products-women-banner>div, .section-products-men-banner>div {
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: column;
}
.section-products-men-banner {
    flex-direction: row-reverse;
}
.section-products-men-banner>div {
    right: -12vw;
}





/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .section-products-categories {
        background-size: 53.3% 100%;
    }
    .section-products-women-banner>img, .section-products-men-banner>img {
        width: 40vw;
    }
    button.shop-women-btn>a>img, button.shop-men-btn>a>img {
        width: 90px;
        height: 130px;
    }
    button.shop-women-btn>a, button.shop-men-btn>a {
        width: 255px;
        height: 80px;
        font-size: 50px;
    }
    button.shop-women-btn {
        top: -35px;
        left: -13vw;
    }
    button.shop-men-btn {
        top: -35px;
    }
    span.shop-women-ver {
        top: 3vw;
        left: -7.5vw;
    }
    button.shop-women-btn>a {
        padding: 20px 20px 20px 10px;
    }
    button.shop-men-btn>a {
        padding: 20px 10px 20px 20px;
    }
    .section-products-men-banner>div {
        right: -13vw;
    }
    span.shop-men-ver {
        top: 3vw;
        right: -1.5vw;
    }
    span.shop-women-ver>img, span.shop-men-ver>img {
        width: 40px;
        margin-left: 10px;
    }
    .section-products-men-categories {
        margin-top: 105px;
        margin-left: 19.3vw;
    }
    .section-products-categories>div {
        background-size: 63vw 70%;
        background-position: 30% 50%;
    }

}


