.section-single-product-hero-left {
    width: 36%;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    align-items: flex-start;
}
.section-single-product-hero-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.section-single-product-hero-left-content h1{
    margin: 0;
    z-index: 1;
    color: #1a1c21;
    min-width: 40rem;
    font-size: 3.5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.single-product-desc {
    z-index: 1;
    color: #5a5f6a;
    max-width: 28rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.section-single-product-handles {
    width: 55%;
}
.single-product-id {
    color: #b2bac6;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.size-chart-btn {
    border: 0;
    width: 19%;
    color: #b2bac6;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: baseline;
    text-transform: uppercase;
    justify-content: space-between;
}
.section-single-product-price {
    font-size: 1.5rem;
    color: #025696;
    font-weight: bold;
}
.section-single-product-handles-text {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 1rem 0 0.4rem 0;
    text-transform: uppercase;
}
.single-product-size-btn {
    font-size: 0.9rem;
    min-width: 2.9rem;
    margin-right: 1rem;
    padding: 0.7rem 0.8rem;
    border: 1px solid #b2bac6;
}
.single-product-cart-btn {
    border: 0;
    color: #fff;
    min-width: 40%;
    font-weight: bold;
    border-radius: 20px;
    padding: 0.8rem 1rem;
    background-color: #025696;
    text-transform: uppercase;
}
.single-product-quantity-controls {
    min-width: 30%;
    font-size: 0.9rem;
    margin-right: 1rem;
    padding: 0.43rem 0;
    border: 1px solid #b2bac6;
}
.selected-size {
    border: 1px solid #025696;
}
.single-product-quantity-controls button, .single-product-quantity-controls span {
    border: 0;
    font-size: 1.1rem;
    font-weight: bold;
}
.section-single-product-hero-middle-bottom {
    padding: 0.5rem 2rem 2rem 2rem;
}
.section-single-product-hero-middle-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem 2rem 2rem;
}
.section-single-product-hero-middle {
    width: 50%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.section-single-product-hero-middle-banner {
    width: 50vw;
    z-index: -1;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 16px 14px 14px 3px #00000045;
}
.box-shadow {
    width: 47%;
    z-index: -2;
    min-height: 85vh;
    position: absolute;
    background-color: transparent;
    /*box-shadow: 27px 40px 40px 10px #00000045;*/
    /*background-color: #ffffff;*/
    box-shadow: 16px 14px 14px 3px #00000045;
}
.section-single-product-hero-middle button {
    border: 0;
}
.section-single-product-hero-middle-bottom-reverse-btn-img {
    transform: scaleX(-1);
}
.current-image-no {
    font-size: 3rem;
    margin-right: 4px;
}
.single-product-like-btn img {
    width: 1.3rem;
}
.section-single-product-hero-right {
    width: 7%;
    height: 100%;
    display: flex;
    margin-top: 13%;
    align-items: center;
    flex-direction: column;
}
.single-product-count-btn {
    border: 0;
    color: #fff;
    padding: 1rem 0;
    font-size: 0.8rem;
    font-weight: bold;

}
.single-product-count-btn p {
    transform: rotate(90deg);
}
.single-product-hero-right-text {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    transform: rotate(90deg);
    text-transform: uppercase;
}
.section-product-active-page-line {
    top: -1.2rem;
    height: 6rem;
    width: 0.13rem;
    position: relative;
}
.single-product-active-count {
    margin-bottom: -1rem;
    padding-bottom: 0 !important;
}
.section-single-product-hero-left-line {
    margin-top: 1.9rem;
    margin-right: 2rem;
}
.section-single-product-similar {
    margin: 4rem 0 0 7%;
}
.section-single-product-similar h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.section-single-product-similar-left-line {
    margin-bottom: 1rem;
    margin-right: 2rem;
}
.section-single-product-details-container {
    display: flex;
    width: 67.75%;;
    padding-top: 7%;
    margin-left: 7%;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between;
}
.section-single-product-details-container div {
    width: 47%;
}
.section-single-product-details-container h3 {
    font-weight: bolder;
    font-family: 'Myriad Pro', sans-serif;
}
.section-single-product-details-container ul li {
    color: #5a5f6a;
    font-size: 0.65rem;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
}
