.section-single-product-hero-left {
    width: 36%;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    align-items: flex-start;
}
.section-single-product-hero-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.section-single-product-hero-left-content h1{
    margin: 0;
    z-index: 1;
    font-size: 2.3rem;
    min-width: 40rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.single-product-desc {
    z-index: 1;
    max-width: 28rem;
    font-size: 0.9rem;
    margin: 1rem 0 2rem 0;
}
.section-single-product-handles {
    width: 55%;
}
.single-product-id {
    color: #b2bac6;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.size-chart-btn {
    border: 0;
    width: 25%;
    color: #b2bac6;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}
.section-single-product-price {
    font-size: 1.5rem;
    color: #025696;
    font-weight: bold;
}
.section-single-product-handles-text {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 1rem 0 0.4rem 0;
    text-transform: uppercase;
}
.single-product-size-btn {
    font-size: 0.9rem;
    min-width: 2.9rem;
    margin-right: 1rem;
    padding: 0.7rem 0.8rem;
    border: 1px solid #b2bac6;
}
.single-product-cart-btn {
    border: 0;
    color: #fff;
    min-width: 40%;
    font-weight: bold;
    border-radius: 20px;
    padding: 0.8rem 1rem;
    background-color: #025696;
    text-transform: uppercase;
}
.single-product-quantity-controls {
    min-width: 30%;
    font-size: 0.9rem;
    margin-right: 1rem;
    padding: 0.43rem 0;
    border: 1px solid #b2bac6;
}
.selected-size {
    border: 1px solid #025696;
}
.single-product-quantity-controls button, .single-product-quantity-controls span {
    border: 0;
    font-size: 1.1rem;
    font-weight: bold;
}
.section-single-product-hero-middle-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-single-product-hero-middle {
    width: 50%;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 0.5rem 2rem 2rem 2rem;
}
.section-single-product-hero-middle button {
    border: 0;
}
.section-single-product-hero-middle-bottom-reverse-btn-img {
    transform: scaleX(-1);
}
.current-image-no {
    font-size: 3rem;
    margin-right: 4px;
}
.single-product-like-btn img {
    width: 1.5rem;
}
.section-single-product-hero-right {
    width: 7%;
    height: 100%;
    display: flex;
    margin-top: 15%;
    align-items: center;
    flex-direction: column;
}
.single-product-count-btn {
    border: 0;
    color: #fff;
    padding: 1rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    transform: rotate(90deg);
}
.single-product-hero-right-text {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    transform: rotate(90deg);
    text-transform: uppercase;
}
.single-product-active-count {
    text-decoration: line-through;
}
.section-single-product-hero-left-line {
    margin-top: 1.9rem;
    margin-right: 2rem;
}
.section-single-product-similar {
    margin: 4rem 0 0 7%;
}
.section-single-product-similar h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
.section-single-product-similar-left-line {
    margin-bottom: 1rem;
    margin-right: 2rem;
}
.section-single-product-details-container {
    display: flex;
    margin-left: 7%;
    margin-top: 7%;
    width: 72%;
    flex-direction: row;
}
.section-single-product-details-container div {
    width: 40%;
    margin-right: auto;
}
.section-single-product-details-container h3 {
    font-weight: bolder;
}
.section-single-product-details-container ul li {
    font-size: 0.8rem;
    color: #6c7588;
}
