.hide {
    display: none;
}
.show {
    display: block;
}

@-webkit-keyframes slide {
    100% { right: 200px; }
}

@keyframes slide {
    100% { right: 200px; }
}

.section-main-slider {
    width: 100%;
}
img.hero-slide {
    width: 82%;
}
.section-hero-slider {
    text-align: right;
    text-align: -webkit-right;
}
.section-main-slider-left {
    margin-left: 4%;
    margin-top: -22vw;
    margin-bottom: 10vw;
}
h1.section-Find-release-hero {
    font-size: 78px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
h1.section-Find-release-hero>span {
    line-height: 1;
}
h1.section-Find-release-hero>span>span {
    color: #055595;
}
button.findFitBtn {
    bottom: 10vw;
    border: none;
    color: #fff;
    margin-top: 20px;
    text-align: left;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #025696;
    text-transform: uppercase;
}
button.findFitBtn>img {
    margin-left: 90px;
}
.sliders-count-container {
    bottom: 0;
    right: 40px;
    border: none;
    display: flex;
    font-weight: 700;
    position: absolute;
    flex-direction: row;
    align-items: center;
    background-color: unset;
}
span.current-slider {
    font-size: 3rem;
    margin-right: 4px;
}
.sliders-count-container>div {
    display: flex;
    color: #5a5f69;
    align-items: center;
    flex-direction: column;
}
.section-hero-slider-right-bar {
    top: 3%;
    right: 3vw;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
}
.section-hero-slider-right-bar>button {
    font-size: 14px;
    padding: 1rem 0;
    font-weight: 700;
}
.section-hero-slider-right-bar>button p {
    transform: rotate(90deg);
}
.sliders-count-container>div>span.total-dash {
    width: 16px;
    margin-bottom: 5px;
    color: transparent;
    border-bottom: 3px solid #5a5f69;
}
.section-features {
    margin-left: 4%;
    padding-top: 12vw;
}
.section-features>h2 {
    font-size: 50px;
    margin-left: 4%;
    text-transform: uppercase;
}
.section-features>h2>img {
    top: -17px;
    width: 115px;
    margin-right: 15px;
    position: relative;
}
.section-products-slider-container {
    display: flex;
    margin-top: 5vw;
}
.section-features .product-desc-container {
    left: 4rem;
    bottom: 3.9rem;
}
.section-features .slider-product:nth-child(4) .section-product-image-container {
    box-shadow: none;
}
.section-products-slider {
    display: flex;
    flex-direction: column;
}
.section-products-slider-right-bar {
    width: 10%;
    right: -3vw;
    color: #fff;
    display: flex;
    font-weight: 700;
    position: relative;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.section-products-slider-right-bar>p {
    transform: rotate(90deg);
}
.section-products-slider-active-page {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem 0;
}
.section-products-slider-active-page:first-of-type {
    padding-top: 2rem !important;
}
.section-products-slider-active-page p {
    transform: rotate(90deg);
}
.section-products-slider-bottom-bar {
    right: 10%;
    width: 8vw;
    display: flex;
    margin-top: 5vw;
    text-align: right;
    position: relative;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
}
.section-products-slider-bottom-bar>button {
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
}
.section-products-slider-bottom-bar>button:disabled {
    pointer-events: none;
    border: 1px solid #0370b6;
}
.section-social-media {
    margin-top: 13vw;
    margin-left: 4vw;
}
.section-social-media>h2 {
    font-size: 50px;
    margin-left: 4vw;
    letter-spacing: -2px;
    text-transform: uppercase;
}
.section-social-media-slider {
    display: flex;
}
.section-social-media>h2>img {
    top: -17px;
    width: 115px;
    margin-right: 15px;
    position: relative;
}
.section-social-media>h2>span:nth-child(2) {
    color: #055595;
}
.section-social-media>h2>span:nth-child(3) {
    color: #6c7588;
}
.section-social-media-slider {
    margin-top: 4vw;
}
.section-social-media-slider-left>img:first-child {
    margin-bottom: -5vw;
}
.section-social-media-slider-left>img:nth-child(2) {

}
.section-social-media-slider-left>img:nth-child(3) {
    margin-bottom: -4.5vw;
}
.section-social-media-slider-left>img:nth-child(4) {
    margin-bottom: 1vw;
}
.section-social-media-slider-left>img:nth-child(5) {
    margin-bottom: -5.5vw;
}
.section-social-media-slider-left>img:last-child {
    box-shadow: 1px 3px 12px -4px #0000008c;
}
.section-social-media-slider-left>img {
    width: 20%;
}
.section-social-media-slider-left {
    width: 87%;
}
.section-social-media-slider-right {
    position: relative;
    width: 13%;
}
.section-social-media-slider-right-bar {
    right: -1.3vw;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.section-social-media-slider-right-bar>button {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem 0;
}
.section-social-media-slider-right-bar>button p {
    transform: rotate(90deg);
}
.section-social-media-slider-right>a {
    left: -10vw;
    color: #fff;
    display: flex;
    font-weight: 600;
    position: relative;
    align-items: center;
}
.section-social-media-slider-right>a>img {
    width: 1.5rem;
    margin-right: 10px;
}
.section-social-slider-bottom-bar {
    right: 6vw;
    width: 8vw;
    display: flex;
    margin-top: 7vw;
    text-align: right;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
.section-social-slider-bottom-bar>button:disabled {
    pointer-events: none;
    border: 1px solid #0370b6;
}
.section-social-slider-bottom-bar>button {
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
}
.active-slider {
    margin-bottom: -1rem;
    padding-bottom: 0 !important;
}
.section-products-slider-active-page-line {
    top: -1.2rem;
    height: 6rem;
    width: 0.13rem;
    position: relative;
}
.active-products-slider-page {
    margin-bottom: -1rem;
    padding-bottom: 0 !important;
}
.section-background {
    max-width: 100vw;
    overflow-x: hidden;
}


/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .section-hero-slider-right-bar {
        right: 2vw;
    }
    .sliders-count-container {
        bottom: 60px;
    }
    h1.section-Find-release-hero {
        font-size: 60px;
    }
    .section-main-slider-left {
        margin-top: -19vw;
        margin-bottom: 6vw;
    }
    .section-features .product-desc-container {
        left: 2.9vw;
    }
    .section-products-slider-bottom-bar {
        width: 10vw;
        right: 13vw;
        margin-top: 0;
    }
    img.section-background-fittfind {
        left: 45vw;
        margin-top: -36vw;
    }
    .section-features>h2 {
        font-size: 38px;
    }
    .section-features>h2>img {
        top: -11px;
    }
    .section-features>h2 {
        margin-left: 0;
    }
    .section-products-slider-right-bar {
        width: 2vw;
        right: -8vw;
    }
    .section-social-media-slider-right-bar {
        width: 2vw;
        right: -9vw;
    }
    .section-social-slider-bottom-bar {
        width: 10vw;
        right: 10.3vw;
    }
    
}













