.section-products-hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-products-hero {
    width: 90%;
    display: flex;
    margin: 0 7% 0 0;
    flex-direction: row;
    box-shadow: 27px 19px 32px -10px #00000045;
}
.section-hero-category-container {
    width: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-hero-category {
    width: 100%;
    border: 0;
    display: flex;
    padding: 12vw 0;
    align-items: center;
    flex-direction: column;
    background-color: #191b21;
    transition: background-color 0.4s ease-in;
}
.section-hero-category:hover {
    background-color: transparent;
}
.section-hero-category p {
    color: #ffffff;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 0.75rem;
}
.section-hero-category img {
    width: 2rem;
    height: 0.11rem;
}
.section-products-filters {
    display: flex;
    width: 76.45%;
    padding: 3rem 0;
    background-color: #fff;
}
.section-products-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    flex-direction: row;
}
.section-products-list>div>img {
    max-width: 350px;
    margin-right: 50px;
}
.section-hero-category-active {
    background-color: transparent;
}
